body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-weight: 500;
}

a{
    text-decoration: none;
}


/*css*/
#description{
    height: 40vh;
    font-weight: 400;
}

#desc-title{
    font-size: 1.5rem;
    font-weight: 500;
}

#made-by{
    font-weight: 500;
}

#contest-section{
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

#past-contests{
    padding-bottom: 5%;
}

#contest-title{
    font-size: 1.5rem;
}

.contest{
    border-radius: 1rem;
    height: 10rem;
    width: 20rem;
    margin-right: 1.5%;
}

#flex-grid-wrapper{
    margin-left: 8%;
    display: flex;
}

#first-item{
    display: inline;
    width: 60%;
    margin-right: 3.5%;
}

#problems-display{
    display: inline;
    margin-top: 6%;
    padding: 1.5%;
    box-shadow: 0px 3px 5px 0px rgba(25, 25, 25, 0.25);
    border-radius: 1rem;
    width: 25%;
    height: 50%;
}

#recent{
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
}

#problems-section-title{
    font-weight: 500;
    font-size: 1.5rem;
}

.difficulty{
    font-size: 1rem;
    background-color: lightgray;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.easy{
    color: rgb(0, 200, 0);
    width: 8.5%;
}

.medium{
    color: orange;
    width: 15.5%;
}

.hard{
    color: red;
    width: 8.6%;
}